<a href="https://colab.research.google.com/github/zubairahmedkha/colab-ai-pythonlearning/blob/main/lesson08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# prompt: age : int= 28
# print(age)
#  name: data-type =value
# datatype= int,str,float,list,bool
# dict , set
age:int =     28
print(age)
type(age)
print(type(age))
#attribute =properties(i-e name)
#methods =actions (coding)
# objects have methods & attributes
# age is an object belonging to int class
print([i for i in dir(age ) if '__' not in i])

28
<class 'int'>
['as_integer_ratio', 'bit_count', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

In [ ]:
age = 5
print(age)

5

In [ ]:
age1:int=5
print(age1)
age1 =10
print(age1)

5
10

In [ ]:
print(f" Age = {age1}")

 Age =10

In [ ]:
name:str = 'john'
gnome_height : float = 5.11
print(f" name is ={name}\n gnome hight ={gnome_height}")

 name is =john
 gnome hight =5.11

In [ ]:
score: int =1 # now score is 0
print(score)

0

In [ ]:
score = score + 50 # now score is 50 .0 +50
print(score)

150

In [ ]:
score += 50 # now score is 100 .50 +50
print(score)

200

In [ ]:
my_score = 450
my_score -= 50 # now score is 400 .450 -50
print(my_score)

400

In [ ]:
my_score *= 2 # now score is 800 .450 *2
print(my_score)

800

In [ ]:
# prompt: write comments all above cell

# Assign the integer value 28 to the variable 'age'.
age:int =     28
# Print the value of 'age'.
print(age)
# Print the data type of 'age'.
type(age)
print(type(age))
# attribute = properties (e.g., name)
# methods = actions (coding)
# objects have methods & attributes
# 'age' is an object belonging to the 'int' class
# Print a list of attributes and methods of the 'age' object, excluding those with double underscores.
print([i for i in dir(age ) if '__' not in i])


# Reassign the variable 'age' with the integer value 5.
age = 5
# Print the updated value of 'age'.
print(age)
# Declare a variable 'age1' with type hinting as an integer and assign it the value 5.
age1:int=5
# Print the value of 'age1'.
print(age1)
# Reassign 'age1' with the value 10.
age1 =10
# Print the updated value of 'age1'.
print(age1)
# Print the value of 'age1' using an f-string.
print(f" Age = {age1}")
# Declare a variable 'name' with type hinting as a string and assign it the value 'john'.
name:str = 'john'
# Declare a variable 'gnome_height' with type hinting as a float and assign it the value 5.11.
gnome_height : float = 5.11
# Print the values of 'name' and 'gnome_height' using f-strings.
print(f" name is ={name}\n gnome hight ={gnome_height}")

# Declare a variable 'score' with type hinting as an integer and assign it the value 1.
score: int =1 # now score is 0
# Print the value of 'score'.
print(score)
# Add 50 to the current value of 'score' and reassign it to 'score'.
score = score + 50 # now score is 50 .0 +50
# Print the updated value of 'score'.
print(score)
# Add 50 to the current value of 'score' using the shorthand += operator and reassign it to 'score'.
score += 50 # now score is 100 .50 +50
# Print the updated value of 'score'.
print(score)
# Declare a variable 'my_score' and assign it the value 450.
my_score = 450
# Subtract 50 from the current value of 'my_score' using the shorthand -= operator and reassign it to 'my_score'.
my_score -= 50 # now score is 400 .450 -50
# Print the updated value of 'my_score'.
print(my_score)


# Multiply the current value of 'my_score' by 2 using the shorthand *= operator and reassign it to 'my_score'.
my_score *= 2 # now score is 800 .450 *2
# Print the updated value of 'my_score'.
print(my_score)

28
<class 'int'>
['as_integer_ratio', 'bit_count', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']
5
5
10
 Age = 10
 name is =john
 gnome hight =5.11
1
51
101
400
800

In [ ]:
print(49/7)

7.0

In [ ]:
dog_age =49/7
print(f""" Dog age in human years is {dog_age}
 would be same age {dog_age}   """)

 Dog age in human years is 7.0
 would be same age7.0

In [ ]:
# prompt: add comments above cells individually

# Assign the integer value 28 to the variable 'age'.
age:int =     28
# Print the value of 'age'.
print(age)
# Print the data type of 'age'.
type(age)
print(type(age))
# attribute = properties (e.g., name)
# methods = actions (coding)
# objects have methods & attributes
# 'age' is an object belonging to the 'int' class
# Print a list of attributes and methods of the 'age' object, excluding those with double underscores.
print([i for i in dir(age ) if '__' not in i])


# Reassign the variable 'age' with the integer value 5.
age = 5
# Print the updated value of 'age'.
print(age)
# Declare a variable 'age1' with type hinting as an integer and assign it the value 5.
age1:int=5
# Print the value of 'age1'.
print(age1)
# Reassign 'age1' with the value 10.
age1 =10
# Print the updated value of 'age1'.
print(age1)
# Print the value of 'age1' using an f-string.
print(f" Age = {age1}")
# Declare a variable 'name' with type hinting as a string and assign it the value 'john'.
name:str = 'john'
# Declare a variable 'gnome_height' with type hinting as a float and assign it the value 5.11.
gnome_height : float = 5.11
# Print the values of 'name' and 'gnome_height' using f-strings.
print(f" name is ={name}\n gnome hight ={gnome_height}")

# Declare a variable 'score' with type hinting as an integer and assign it the value 1.
score: int =1 # now score is 0
# Print the value of 'score'.
print(score)
# Add 50 to the current value of 'score' and reassign it to 'score'.
score = score + 50 # now score is 50 .0 +50
# Print the updated value of 'score'.
print(score)
# Add 50 to the current value of 'score' using the shorthand += operator and reassign it to 'score'.
score += 50 # now score is 100 .50 +50
# Print the updated value of 'score'.
print(score)
# Declare a variable 'my_score' and assign it the value 450.
my_score = 450
# Subtract 50 from the current value of 'my_score' using the shorthand -= operator and reassign it to 'my_score'.
my_score -= 50 # now score is 400 .450 -50
# Print the updated value of 'my_score'.
print(my_score)


# Multiply the current value of 'my_score' by 2 using the shorthand *= operator and reassign it to 'my_score'.
my_score *= 2 # now score is 800 .450 *2
# Print the updated value of 'my_score'.
print(my_score)

# Calculate 49 divided by 7.
print(49/7)
# Assign the result of 49 divided by 7 to the variable 'dog_age'.
dog_age =49/7
# Print the value of 'dog_age' using an f-string.
print(f""" Dog age in human years is {dog_age}
 would be same age {dog_age}   """)

SyntaxError: invalid syntax (<ipython-input-28-8cb10230ed56>, line 1)

In [31]:
my_name: str  ="Zubair khan"
print(f" Hello {my_name}")
type(my_name)
my_name = 23
print(my_name)

 Hello Zubair khan
23